.ql-editor img {
    max-width: 100%; /* Ajustar el ancho máximo de las imágenes al 100% del contenedor */
    height: auto; /* Mantener la relación de aspecto original de las imágenes */
  }

  .ql-editor{
    height: auto;
    padding: 0 0 !important;
  }